<%- include("includes/top.ejs"); %>
</head>
<body>
    <%- include("includes/header.ejs"); %>
    <% if (users.length > 0) { %>
        <% for (let user of users) { %>
            <div><%= user %></div>
        <% } %>
    <% } else { %>
        <h1>No users found...</h1>;
    <% } %>
<%- include("includes/bottom.ejs"); %>